<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/perfil']">
                <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/logo-light-icon.png" alt="homepage" class="dark-logo m-r-10" />
                            <!-- Light Logo icon -->
                            <!-- <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
                        </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                         <span class="c-white">Watcher<span class="c-white">Security</span></span>
                <!-- Light Logo text -->
                <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <!-- <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-collage"></i> Registro <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2" style="left: 0;">
                        <ul>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/clientes']"><i class="fa fa-users"></i>&nbsp;<strong>Clientes</strong></a>
                                </div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/carga-cliente']"><i class="fa fa-upload"></i>&nbsp;<strong>Carga de Clientes</strong></a>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/ponderaciones']"><i class="fa fa-cubes"></i>&nbsp;<strong>Ponderaciones</strong></a>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" [routerLink]="['/alertas']"><i class="mdi mdi-alert-circle"></i> Alertas
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-gauge"></i> Dashboard <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2" style="left: 0;">
                        <ul>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/gestion-riesgos']"><i class="mdi mdi-chart-arc"></i>&nbsp;<strong>Gestion Riesgos</strong></a>
                                </div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/control-estrategico']"><i class="mdi mdi-chart-bar"></i>&nbsp;<strong>Control Estratégico</strong></a>
                                </div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/control-articulo']"><i class="mdi mdi-chart-timeline"></i>&nbsp;<strong>Control Por Artículo</strong></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Configuracion <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2" style="left: 0;">
                        <ul>
                            <li>
                                <div class="message-center">
                                    <a class="nav-link text-center" [routerLink]="['/ponderaciones']"><i class="fa fa-cubes"></i>&nbsp;<strong>Ponderaciones</strong></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Buscar en Salutem24"><a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li> -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="verNotificaciones()"> <i class="mdi mdi-message"></i>
                        <div class="notify"> <span [class.oculto]="ocultarContador()" class="point">{{notificacionesNuevas.length}}</span> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn">
                        <ul>
                            <li>
                                <div class="drop-title">Notificaciones</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <div *ngIf=" notificacionesNuevas.length > 0 " class="drop-title"><small>NUEVAS</small></div>
                                    <a *ngFor="let notificacion of notificacionesNuevas">
                                        <div *ngIf="notificacion.tipo_notificacion_id==1" class="btn btn-info btn-circle"><i class="fa fa-calendar"></i></div>
                                        <div *ngIf="notificacion.tipo_notificacion_id==2" class="btn btn-danger btn-circle"><i class="fa fa-ambulance"></i></div>
                                        <div *ngIf="notificacion.tipo_notificacion_id==3" class="btn btn-primary btn-circle"><i class="fa fa-exchange"></i></div>
                                        <div class="mail-contnet">
                                            <h5>{{notificacion.tipo_notificacion}} (CT-000{{notificacion.consulta_id}} {{notificacion.especialidad}})</h5> <span class="mail-desc">Paciente: {{notificacion.paciente}}</span> <span class="time">Fecha: {{notificacion.fecha_consulta}} - {{notificacion.horario_consulta}}</span>                                            </div>
                                    </a>
                                    <div *ngIf=" notificacionesNuevas.length > 0 && notificacionesAnteriores.length > 0 " class="drop-title"><small>ANTERIORES</small></div>
                                    <a *ngFor="let notificacion of notificacionesAnteriores">
                                        <div *ngIf="notificacion.tipo_notificacion_id==1" class="btn btn-info btn-circle"><i class="fa fa-calendar"></i></div>
                                        <div *ngIf="notificacion.tipo_notificacion_id==2" class="btn btn-danger btn-circle"><i class="fa fa-ambulance"></i></div>
                                        <div *ngIf="notificacion.tipo_notificacion_id==3" class="btn btn-primary btn-circle"><i class="fa fa-exchange"></i></div>
                                        <div class="mail-contnet">
                                            <h5>{{notificacion.tipo_notificacion}} (CT-000{{notificacion.consulta_id}} {{notificacion.especialidad}})</h5> <span class="mail-desc">Paciente: {{notificacion.paciente}}</span> <span class="time">Fecha: {{notificacion.fecha_consulta}} - {{notificacion.horario_consulta}}</span>                                            </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="notification-link text-center" href="javascript:void(0);"> <strong>Ver todo</strong></a>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- mega menu -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End mega menu -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box" align="center">
                                    <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
                                    <div class="u-text m-t-5" align="center">
                                        <h4>{{this._usuarioService.usuario.vnombres}} {{this._usuarioService.usuario.vpaterno}} {{this._usuarioService.usuario.vmaterno}} </h4>
                                        <p class="text-muted"> {{this._usuarioService.usuario.perfil}} </p>
                                        <!-- <a [routerLink]="['/perfil']" class="btn btn-rounded btn-info btn-sm">Ver Perfil</a> -->
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <!-- <li><a [routerLink]="['/perfil']"><i class="ti-user"></i> Mi Perfil</a></li> -->
                            <!--  <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li> -->
                            <!-- <li role="separator" class="divider"></li> -->
                            <!-- <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li> -->
                            <li><a [routerLink]="['/login']" class="pointer"><i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->