<div class="form-row">
    <div class="form-group col-md-12 text-right">
        <button type="button" class="btn waves-effect waves-light btn btn-info" [routerLink]="['/tipo-documento','nuevo']"><i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar Tipo Documento</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-outline-watcher">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Resultado de búsqueda</h4>
            </div>
            <div *ngIf="_tipoDocumentoService.loading" class="form-group text-center mt-3">
                <div class="spinner-grow text-orange" role="status"></div>
                <p class="spinner__label">Cargando...</p>
            </div>
            <div class="card-body">
                <div *ngIf="tiposDocumento.length > 0 && !_tipoDocumentoService.loading" class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center">SubFactor</th>
                                <th class="text-center">Descripcion</th>
                                <th class="text-center">Ponderacion</th>
                                <th class="text-nowrap"></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let tipoDocumento of tiposDocumento | paginate: { itemsPerPage: 10, currentPage: paginaActual }">
                                <td>{{tipoDocumento.subfactor}} </td>
                                <td>{{tipoDocumento.descripcion}}</td>
                                <td>{{tipoDocumento.ponderacion}}</td>
                                <td class="text-nowrap">
                                    <button type="button" class="btn waves-effect waves-light btn-sm btn-info" [routerLink]="['/tipo-documento',tipoDocumento.tipo_documento_id]" title="editar tipo documento"> <i class="fa fa-pencil"></i></button> &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <pagination-controls (pageChange)="paginaActual = $event" maxSize="5" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
                <div *ngIf="!(tiposDocumento.length > 0) && !_tipoDocumentoService.loading">
                    No se encontraron registros...
                </div>
            </div>
        </div>
    </div>
</div>